.x-action-col-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.edit-icon {
    width: 16px !important;
    height: 16px !important;
    background-image: url(/target-trak-system/resources/images/edit-icon.png) !important;
}

.delete-icon {
    height: 14px;
    width: 14px;
    background-image: url(../images/delete-icon.png) !important;
}