.x-action-col-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.edit-icon {
    width: 16px !important;
    height: 16px !important;
    background-image: url(/target-trak-system/resources/images/edit-icon.png) !important;
}

.delete-icon {
    height: 14px;
    width: 14px;
    background-image: url(../images/delete-icon.png) !important;
}

.icon-home {
	width: 16px !important;
    height: 16px !important;
    background-image:url('/target-trak-system/resources/images/home-icon.png') !important;
}

.icon-user-profile {
	width: 16px !important;
    height: 16px !important;
    background-image:url('/target-trak-system/resources/images/user-profile-icon.png') !important;
}

.icon-user-settings {
	width: 16px !important;
    height: 16px !important;
    background-image:url('/target-trak-system/resources/images/user-settings-icon.png') !important;
}
